# 서울시 인구 분석

<img src='https://raw.githubusercontent.com/Jangrae/img/master/people2.png' width="650" align="left">

## 1. 라이브러리 불러오기

- 사용할 라이브러리를 불러옵니다.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

* 데이터 불러오기

    - 다음 경로의 파일을 읽어와 pop01, pop02, pop03 데이터프레임을 만듭니다.
    - 파일 경로1: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv
    - 파일 경로2: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv
    - 파일 경로3: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv

In [2]:
pop01 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv')
pop01.head()

   year  k_male  k_female
0  1981    4160      4191
1  1982    4160      4191
2  1983    4160      4191
3  1984    4160      4191
4  1985    4160      4191

In [3]:
pop02 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv')
pop02.head()

   year  f_male  f_female
0  1985       7         6
1  1986       7         5
2  1987       6         5
3  1988       5         5
4  1989       6         5

In [4]:
pop03 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv')
pop03.head()

   year  household  older_65
0  1981       1915       246
1  1982       2001       260
2  1983       2116       260
3  1984       2246       275
4  1985       2338       211

## 2. 데이터 탐색

다음과 같은 정보 확인을 통해 처리할 대상 데이터를 이해합니다.
- 상/하위 데이터 확인
- 데이터프레임 크기 확인
- 열 이름, 데이터 형식, 값 개수 등 확인
- 기초 통계정보 확인
- 결측치 확인
- 범주형 데이터 확인
- 개별 열 값 상세 확인 등

**1) 데이터프레임 크기 확인**

- 세 개의 데이터프레임 크기(행 수, 열 수)를 확인합니다.

In [5]:
pop01.shape, pop02.shape, pop03.shape

((40, 3), (36, 3), (40, 3))

**2) year 최솟값, 최댓값 확인**

- 세 개의 데이터프레임 year열 최솟값, 최댓값 크기를 비교해 차이가 있는 지 각각 확인합니다.

In [6]:
p1 = pop01['year'].max()- pop01['year'].min()
p2 = pop02['year'].max()- pop02['year'].min()
p3 = pop03['year'].max()- pop03['year'].min()
print(p1,p2,p3)

39 35 39

**3) 결측치 확인**

- 세 개의 데이터프레임에 결측치가 있는 지 각각 확인합니다.

In [7]:
pop01.isnull().sum()

year        0
k_male      0
k_female    0
dtype: int64

In [8]:
pop02.isnull().sum()

year        0
f_male      0
f_female    0
dtype: int64

In [9]:
pop03.isnull().sum()

year         0
household    0
older_65     0
dtype: int64

**4) 열 정보 확인**

- 세 개의 데이터프레임의 열 정보를 확인합니다.

In [10]:
pop01.columns

Index(['year', 'k_male', 'k_female'], dtype='object')

In [11]:
pop02.columns

Index(['year', 'f_male', 'f_female'], dtype='object')

In [12]:
pop03.columns

Index(['year', 'household', 'older_65'], dtype='object')

## 3. 데이터 전처리

전처리 과정에서 다음과 같은 처리를 할 수 있습니다.

- 결측치 처리
- 값 변경
- 열 추가
- 불필요한 열 제거
- 열 이름 변경
- 데이터 통합(연결 또는 조인)
- 가변수화 등

**1) 데이터 통합**

- concat을 사용해 연결하면 인덱스 값을 기준으로 연결되어 데이터가 어긋납니다.
- **year** 열을 기준으로 **outer** 방식으로 조인(병합)합니다.
- 외국인 정보가 1981 ~ 1984년이 누락되어 결측치가 발생할 것입니다.
- 세 개의 데이터프레임을 병합(조인)하여 pop 데이터프레임을 선언합니다.
- 이후의 모든 작업은 pop 데이터프레임을 대상으로 진행합니다.

In [13]:
a = pd.merge(pop01,pop02,how='outer',on='year')
mergepop = pd.merge(a,pop03,how='outer',on='year')
mergepop

    year  k_male  k_female  f_male  f_female  household  older_65
0   1981    4160      4191     NaN       NaN       1915       246
1   1982    4160      4191     NaN       NaN       2001       260
2   1983    4160      4191     NaN       NaN       2116       260
3   1984    4160      4191     NaN       NaN       2246       275
4   1985    4160      4191     7.0       6.0       2338       211
5   1986    4899      4888     7.0       5.0       2428       305
6   1987    5000      4979     6.0       5.0       2518       329
7   1988    5156      5120     5.0       5.0       2658       349
8   1989    5305      5261     6.0       5.0       2817       363
9   1990    5321      5282     5.0       4.0       2820       363
10  1991    5468      5405    18.0      14.0       3330       424
11  1992    5500      5435    19.0      16.0       3383       434
12  1993    5478      5412    19.0      17.0       3431       445
13  1994    5409      5351    21.0      19.0       3456       454
14  1995    5302      5249    24.0      21.0       3448       460
15  1996    5231      5187    27.0      25.0       3457       469
16  1997    5187      5150    28.0      25.0       3499       485
17  1998    5147      5124    27.0      24.0       3459       505
18  1999    5141      5123    30.0      28.0       3491       530
19  2000    5167      5145    32.0      30.0       3540       560
20  2001    5142      5122    34.0      34.0       3570       586
21  2002    5109      5098    36.0      37.0       3624       613
22  2003    5085      5089    49.0      54.0       3715       650
23  2004    5075      5098    54.0      61.0       3780       693
24  2005    5062      5105    61.0      68.0       3871       736
25  2006    5062      5119    83.0      92.0       3979       787
26  2007    5063      5130   111.0     118.0       4046       852
27  2008    5062      5139   123.0     132.0       4098       899
28  2009    5059      5149   122.0     134.0       4117       943
29  2010    5111      5201   125.0     137.0       4224      1008
30  2011    5074      5176   135.0     145.0       4193      1049
31  2012    5041      5154   118.0     129.0       4178      1111
32  2013    5008      5136   118.0     126.0       4182      1167
33  2014    4980      5123   129.0     137.0       4194      1222
34  2015    4931      5091   133.0     142.0       4190      1268
35  2016    4877      5054   131.0     143.0       4190      1301
36  2017    4830      5027   128.0     140.0       4220      1365
37  2018    4774      4992   137.0     147.0       4264      1416
38  2019    4744      4985   134.0     148.0       4328      1485
39  2020    4702      4967   115.0     128.0       4418      1568

**2) 결측치 확인**

- 결측치가 있는지 확인합니다.

In [14]:
mergepop.isna().sum()

year         0
k_male       0
k_female     0
f_male       4
f_female     4
household    0
older_65     0
dtype: int64

**3) 결측치 처리**

- 연도별 인구 현황이므로 임의의 값을 채우는 것이 바람직하지 않아 보입니다.
- 이후 값, 즉 1985년 값으로 채우는 것도 정확한 분석을 방해할 것 같습니다.
- 이에 결측치가 있는 1981년~1984년 행을 제거할 것입니다.

In [15]:
mergepop = mergepop.dropna(axis=0)
mergepop

    year  k_male  k_female  f_male  f_female  household  older_65
4   1985    4160      4191     7.0       6.0       2338       211
5   1986    4899      4888     7.0       5.0       2428       305
6   1987    5000      4979     6.0       5.0       2518       329
7   1988    5156      5120     5.0       5.0       2658       349
8   1989    5305      5261     6.0       5.0       2817       363
9   1990    5321      5282     5.0       4.0       2820       363
10  1991    5468      5405    18.0      14.0       3330       424
11  1992    5500      5435    19.0      16.0       3383       434
12  1993    5478      5412    19.0      17.0       3431       445
13  1994    5409      5351    21.0      19.0       3456       454
14  1995    5302      5249    24.0      21.0       3448       460
15  1996    5231      5187    27.0      25.0       3457       469
16  1997    5187      5150    28.0      25.0       3499       485
17  1998    5147      5124    27.0      24.0       3459       505
18  1999    5141      5123    30.0      28.0       3491       530
19  2000    5167      5145    32.0      30.0       3540       560
20  2001    5142      5122    34.0      34.0       3570       586
21  2002    5109      5098    36.0      37.0       3624       613
22  2003    5085      5089    49.0      54.0       3715       650
23  2004    5075      5098    54.0      61.0       3780       693
24  2005    5062      5105    61.0      68.0       3871       736
25  2006    5062      5119    83.0      92.0       3979       787
26  2007    5063      5130   111.0     118.0       4046       852
27  2008    5062      5139   123.0     132.0       4098       899
28  2009    5059      5149   122.0     134.0       4117       943
29  2010    5111      5201   125.0     137.0       4224      1008
30  2011    5074      5176   135.0     145.0       4193      1049
31  2012    5041      5154   118.0     129.0       4178      1111
32  2013    5008      5136   118.0     126.0       4182      1167
33  2014    4980      5123   129.0     137.0       4194      1222
34  2015    4931      5091   133.0     142.0       4190      1268
35  2016    4877      5054   131.0     143.0       4190      1301
36  2017    4830      5027   128.0     140.0       4220      1365
37  2018    4774      4992   137.0     147.0       4264      1416
38  2019    4744      4985   134.0     148.0       4328      1485
39  2020    4702      4967   115.0     128.0       4418      1568

**3) 열 추가**

- 이후 분석의 편의를 위해 다음과 같은 의미를 갖는 열을 추가하고자 합니다.
    - k_total = 전체 한국인 인구수
    - f_total = 전체 외국인 인구수
    - male = 전체 남자 인구수
    - female = 전체 여자 인구수
    - total = 전체 인구수
- 추가할 열에 대한 공식은 다음과 같습니다.
    - k_total = k_male + k_female
    - f_total = f_male + f_female
    - male = k_male + f_male
    - female = k_female + f_female
    - total = k_total + f_total
- 정리한 공식에 따라 데이터프레임에 열을 추가합니다.

In [16]:
mergepop['k_total'] = mergepop['k_male'] + mergepop['k_female']
mergepop['f_total'] = mergepop['f_male'] + mergepop['f_female']
mergepop['male'] = mergepop['k_male'] + mergepop['f_male']
mergepop['female'] = mergepop['k_female'] + mergepop['f_female']
mergepop['total'] = mergepop['k_total'] + mergepop['f_total']
mergepop

<ipython-input-16-2d95b80c4c81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergepop['k_total'] = mergepop['k_male'] + mergepop['k_female']
<ipython-input-16-2d95b80c4c81>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergepop['f_total'] = mergepop['f_male'] + mergepop['f_female']
<ipython-input-16-2d95b80c4c81>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergepop['male'] = mergepop['k_male'] + mergepop['f_male']
<ipython-input-16-2d95b80c4c81>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergepop['female'] = mergepop['k_female'] + mergepop['f_female']
<ipython-input-16-2d95b80c4c81>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mergepop['total'] = mergepop['k_total'] + mergepop['f_total']

,year,k_male,k_female,f_male,f_female,household,older_65,k_total,f_total,male,female,total
4,1985,4160,4191,7.0,6.0,2338,211,8351,13.0,4167.0,4197.0,8364.0
5,1986,4899,4888,7.0,5.0,2428,305,9787,12.0,4906.0,4893.0,9799.0
6,1987,5000,4979,6.0,5.0,2518,329,9979,11.0,5006.0,4984.0,9990.0
7,1988,5156,5120,5.0,5.0,2658,349,10276,10.0,5161.0,5125.0,10286.0
8,1989,5305,5261,6.0,5.0,2817,363,10566,11.0,5311.0,5266.0,10577.0
9,1990,5321,5282,5.0,4.0,2820,363,10603,9.0,5326.0,5286.0,10612.0
10,1991,5468,5405,18.0,14.0,3330,424,10873,32.0,5486.0,5419.0,10905.0
11,1992,5500,5435,19.0,16.0,3383,434,10935,35.0,5519.0,5451.0,10970.0
12,1993,5478,5412,19.0,17.0,3431,445,10890,36.0,5497.0,5429.0,10926.0
13,1994,5409,5351,21.0,19.0,3456,454,10760,40.0,5430.0,5370.0,10800.0
14,1995,5302,5249,24.0,21.0,3448,460,10551,45.0,5326.0,5270.0,10596.0
15,1996,5231,5187,27.0,25.0,3457,469,10418,52.0,5258.0,5212.0,10470.0
16,1997,5187,5150,28.0,25.0,3499,485,10337,53.0,5215.0,5175.0,10390.0
17,1998,5147,5124,27.0,24.0,3459,505,10271,51.0,5174.0,5148.0,10322.0
18,1999,5141,5123,30.0,28.0,3491,530,10264,58.0,5171.0,5151.0,10322.0
19,2000,5167,5145,32.0,30.0,3540,560,10312,62.0,5199.0,5175.0,10374.0
20,2001,5142,5122,34.0,34.0,3570,586,10264,68.0,5176.0,5156.0,10332.0
21,2002,5109,5098,36.0,37.0,3624,613,10207,73.0,5145.0,5135.0,10280.0
22,2003,5085,5089,49.0,54.0,3715,650,10174,103.0,5134.0,5143.0,10277.0
23,2004,5075,5098,54.0,61.0,3780,693,10173,115.0,5129.0,5159.0,10288.0
24,2005,5062,5105,61.0,68.0,3871,736,10167,129.0,5123.0,5173.0,10296.0
25,2006,5062,5119,83.0,92.0,3979,787,10181,175.0,5145.0,5211.0,10356.0
26,2007,5063,5130,111.0,118.0,4046,852,10193,229.0,5174.0,5248.0,10422.0
27,2008,5062,5139,123.0,132.0,4098,899,10201,255.0,5185.0,5271.0,10456.0
28,2009,5059,5149,122.0,134.0,4117,943,10208,256.0,5181.0,5283.0,10464.0
29,2010,5111,5201,125.0,137.0,4224,1008,10312,262.0,5236.0,5338.0,10574.0
30,2011,5074,5176,135.0,145.0,4193,1049,10250,280.0,5209.0,5321.0,10530.0
31,2012,5041,5154,118.0,129.0,4178,1111,10195,247.0,5159.0,5283.0,10442.0
32,2013,5008,5136,118.0,126.0,4182,1167,10144,244.0,5126.0,5262.0,10388.0
33,2014,4980,5123,129.0,137.0,4194,1222,10103,266.0,5109.0,5260.0,10369.0
34,2015,4931,5091,133.0,142.0,4190,1268,10022,275.0,5064.0,5233.0,10297.0
35,2016,4877,5054,131.0,143.0,4190,1301,9931,274.0,5008.0,5197.0,10205.0
36,2017,4830,5027,128.0,140.0,4220,1365,9857,268.0,4958.0,5167.0,10125.0
37,2018,4774,4992,137.0,147.0,4264,1416,9766,284.0,4911.0,5139.0,10050.0
38,2019,4744,4985,134.0,148.0,4328,1485,9729,282.0,4878.0,5133.0,10011.0
39,2020,4702,4967,115.0,128.0,4418,1568,9669,243.0,4817.0,5095.0,9912.0

**4) 열 순서 변경**

- 데이터 이해를 돕기 위해 다음과 같은 순서로 데이터프레임 열 순서를 변경합니다.
- year, household, total, male, female, k_total, k_male, k_female, f_total, f_male, f_female, older_65

In [17]:
mergepop2 = mergepop[['year', 'household', 'total', 'male', 'female', 'k_total', 'k_male', 'k_female', 'f_total', 'f_male', 'f_female', 'older_65']]
mergepop2

,year,household,total,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
4,1985,2338,8364.0,4167.0,4197.0,8351,4160,4191,13.0,7.0,6.0,211
5,1986,2428,9799.0,4906.0,4893.0,9787,4899,4888,12.0,7.0,5.0,305
6,1987,2518,9990.0,5006.0,4984.0,9979,5000,4979,11.0,6.0,5.0,329
7,1988,2658,10286.0,5161.0,5125.0,10276,5156,5120,10.0,5.0,5.0,349
8,1989,2817,10577.0,5311.0,5266.0,10566,5305,5261,11.0,6.0,5.0,363
9,1990,2820,10612.0,5326.0,5286.0,10603,5321,5282,9.0,5.0,4.0,363
10,1991,3330,10905.0,5486.0,5419.0,10873,5468,5405,32.0,18.0,14.0,424
11,1992,3383,10970.0,5519.0,5451.0,10935,5500,5435,35.0,19.0,16.0,434
12,1993,3431,10926.0,5497.0,5429.0,10890,5478,5412,36.0,19.0,17.0,445
13,1994,3456,10800.0,5430.0,5370.0,10760,5409,5351,40.0,21.0,19.0,454
14,1995,3448,10596.0,5326.0,5270.0,10551,5302,5249,45.0,24.0,21.0,460
15,1996,3457,10470.0,5258.0,5212.0,10418,5231,5187,52.0,27.0,25.0,469
16,1997,3499,10390.0,5215.0,5175.0,10337,5187,5150,53.0,28.0,25.0,485
17,1998,3459,10322.0,5174.0,5148.0,10271,5147,5124,51.0,27.0,24.0,505
18,1999,3491,10322.0,5171.0,5151.0,10264,5141,5123,58.0,30.0,28.0,530
19,2000,3540,10374.0,5199.0,5175.0,10312,5167,5145,62.0,32.0,30.0,560
20,2001,3570,10332.0,5176.0,5156.0,10264,5142,5122,68.0,34.0,34.0,586
21,2002,3624,10280.0,5145.0,5135.0,10207,5109,5098,73.0,36.0,37.0,613
22,2003,3715,10277.0,5134.0,5143.0,10174,5085,5089,103.0,49.0,54.0,650
23,2004,3780,10288.0,5129.0,5159.0,10173,5075,5098,115.0,54.0,61.0,693
24,2005,3871,10296.0,5123.0,5173.0,10167,5062,5105,129.0,61.0,68.0,736
25,2006,3979,10356.0,5145.0,5211.0,10181,5062,5119,175.0,83.0,92.0,787
26,2007,4046,10422.0,5174.0,5248.0,10193,5063,5130,229.0,111.0,118.0,852
27,2008,4098,10456.0,5185.0,5271.0,10201,5062,5139,255.0,123.0,132.0,899
28,2009,4117,10464.0,5181.0,5283.0,10208,5059,5149,256.0,122.0,134.0,943
29,2010,4224,10574.0,5236.0,5338.0,10312,5111,5201,262.0,125.0,137.0,1008
30,2011,4193,10530.0,5209.0,5321.0,10250,5074,5176,280.0,135.0,145.0,1049
31,2012,4178,10442.0,5159.0,5283.0,10195,5041,5154,247.0,118.0,129.0,1111
32,2013,4182,10388.0,5126.0,5262.0,10144,5008,5136,244.0,118.0,126.0,1167
33,2014,4194,10369.0,5109.0,5260.0,10103,4980,5123,266.0,129.0,137.0,1222
34,2015,4190,10297.0,5064.0,5233.0,10022,4931,5091,275.0,133.0,142.0,1268
35,2016,4190,10205.0,5008.0,5197.0,9931,4877,5054,274.0,131.0,143.0,1301
36,2017,4220,10125.0,4958.0,5167.0,9857,4830,5027,268.0,128.0,140.0,1365
37,2018,4264,10050.0,4911.0,5139.0,9766,4774,4992,284.0,137.0,147.0,1416
38,2019,4328,10011.0,4878.0,5133.0,9729,4744,4985,282.0,134.0,148.0,1485
39,2020,4418,9912.0,4817.0,5095.0,9669,4702,4967,243.0,115.0,128.0,1568

**5) 인덱스 초기화**

- 인덱스가 0부터 시작하는 일련 변호를 갖지 않는다면 인덱스를 초기화합니다.

In [18]:
mergepop2.reset_index()

,index,year,household,total,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
0,4,1985,2338,8364.0,4167.0,4197.0,8351,4160,4191,13.0,7.0,6.0,211
1,5,1986,2428,9799.0,4906.0,4893.0,9787,4899,4888,12.0,7.0,5.0,305
2,6,1987,2518,9990.0,5006.0,4984.0,9979,5000,4979,11.0,6.0,5.0,329
3,7,1988,2658,10286.0,5161.0,5125.0,10276,5156,5120,10.0,5.0,5.0,349
4,8,1989,2817,10577.0,5311.0,5266.0,10566,5305,5261,11.0,6.0,5.0,363
5,9,1990,2820,10612.0,5326.0,5286.0,10603,5321,5282,9.0,5.0,4.0,363
6,10,1991,3330,10905.0,5486.0,5419.0,10873,5468,5405,32.0,18.0,14.0,424
7,11,1992,3383,10970.0,5519.0,5451.0,10935,5500,5435,35.0,19.0,16.0,434
8,12,1993,3431,10926.0,5497.0,5429.0,10890,5478,5412,36.0,19.0,17.0,445
9,13,1994,3456,10800.0,5430.0,5370.0,10760,5409,5351,40.0,21.0,19.0,454
10,14,1995,3448,10596.0,5326.0,5270.0,10551,5302,5249,45.0,24.0,21.0,460
11,15,1996,3457,10470.0,5258.0,5212.0,10418,5231,5187,52.0,27.0,25.0,469
12,16,1997,3499,10390.0,5215.0,5175.0,10337,5187,5150,53.0,28.0,25.0,485
13,17,1998,3459,10322.0,5174.0,5148.0,10271,5147,5124,51.0,27.0,24.0,505
14,18,1999,3491,10322.0,5171.0,5151.0,10264,5141,5123,58.0,30.0,28.0,530
15,19,2000,3540,10374.0,5199.0,5175.0,10312,5167,5145,62.0,32.0,30.0,560
16,20,2001,3570,10332.0,5176.0,5156.0,10264,5142,5122,68.0,34.0,34.0,586
17,21,2002,3624,10280.0,5145.0,5135.0,10207,5109,5098,73.0,36.0,37.0,613
18,22,2003,3715,10277.0,5134.0,5143.0,10174,5085,5089,103.0,49.0,54.0,650
19,23,2004,3780,10288.0,5129.0,5159.0,10173,5075,5098,115.0,54.0,61.0,693
20,24,2005,3871,10296.0,5123.0,5173.0,10167,5062,5105,129.0,61.0,68.0,736
21,25,2006,3979,10356.0,5145.0,5211.0,10181,5062,5119,175.0,83.0,92.0,787
22,26,2007,4046,10422.0,5174.0,5248.0,10193,5063,5130,229.0,111.0,118.0,852
23,27,2008,4098,10456.0,5185.0,5271.0,10201,5062,5139,255.0,123.0,132.0,899
24,28,2009,4117,10464.0,5181.0,5283.0,10208,5059,5149,256.0,122.0,134.0,943
25,29,2010,4224,10574.0,5236.0,5338.0,10312,5111,5201,262.0,125.0,137.0,1008
26,30,2011,4193,10530.0,5209.0,5321.0,10250,5074,5176,280.0,135.0,145.0,1049
27,31,2012,4178,10442.0,5159.0,5283.0,10195,5041,5154,247.0,118.0,129.0,1111
28,32,2013,4182,10388.0,5126.0,5262.0,10144,5008,5136,244.0,118.0,126.0,1167
29,33,2014,4194,10369.0,5109.0,5260.0,10103,4980,5123,266.0,129.0,137.0,1222
30,34,2015,4190,10297.0,5064.0,5233.0,10022,4931,5091,275.0,133.0,142.0,1268
31,35,2016,4190,10205.0,5008.0,5197.0,9931,4877,5054,274.0,131.0,143.0,1301
32,36,2017,4220,10125.0,4958.0,5167.0,9857,4830,5027,268.0,128.0,140.0,1365
33,37,2018,4264,10050.0,4911.0,5139.0,9766,4774,4992,284.0,137.0,147.0,1416
34,38,2019,4328,10011.0,4878.0,5133.0,9729,4744,4985,282.0,134.0,148.0,1485
35,39,2020,4418,9912.0,4817.0,5095.0,9669,4702,4967,243.0,115.0,128.0,1568

## 4. 추가 전처리

* x, y 구분

    - x : feature
    - y : target <- total

In [19]:
x = mergepop2.drop(['total'],axis=1)
y = mergepop2['total']

In [20]:
from sklearn.model_selection import train_test_split

* train test split

In [22]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.3, random_state=1)

In [23]:
x.shape, y.shape

((36, 11), (36,))

In [24]:
train_x.shape, test_x.shape

((25, 11), (11, 11))

* Scaling

    - min-max scaling

In [28]:
x.describe()

,year,household,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,2002.500000,3651.500000,5139.416667,5187.722222,10192.194444,5073.944444,5118.250000,134.944444,65.472222,69.472222,761.250000
std,10.535654,582.467436,234.352771,204.113499,443.388499,250.205052,200.781242,108.472760,51.371747,57.121168,389.230037
min,1985.000000,2338.000000,4167.000000,4197.000000,8351.000000,4160.000000,4191.000000,9.000000,5.000000,4.000000,211.000000
25%,1993.750000,3443.750000,5097.750000,5146.750000,10082.750000,4995.000000,5090.500000,39.000000,20.500000,18.500000,451.750000
50%,2002.500000,3669.500000,5166.000000,5204.000000,10204.000000,5074.500000,5123.500000,88.000000,42.500000,45.500000,631.500000
75%,2011.250000,4184.000000,5220.250000,5274.000000,10318.250000,5172.000000,5178.750000,255.250000,122.250000,132.500000,1064.500000
max,2020.000000,4418.000000,5519.000000,5451.000000,10935.000000,5500.000000,5435.000000,284.000000,137.000000,148.000000,1568.000000

In [30]:
max_n,min_n = train_x.max(),train_x.min()

In [33]:
pd.DataFrame(train_x).describe()

,year,household,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
count,25.000000,25.000000,25.00000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,1999.920000,3522.000000,5148.36000,5174.600000,10217.520000,5096.800000,5120.720000,105.440000,51.560000,53.880000,670.480000
std,10.467887,586.316539,276.67458,241.197879,524.395535,290.561669,240.321229,102.120876,48.136161,54.002562,382.842344
min,1985.000000,2338.000000,4167.00000,4197.000000,8351.000000,4160.000000,4191.000000,9.000000,5.000000,4.000000,211.000000
25%,1992.000000,3383.000000,5008.00000,5148.000000,9979.000000,5000.000000,5054.000000,35.000000,19.000000,16.000000,434.000000
50%,1998.000000,3491.000000,5176.00000,5175.000000,10264.000000,5141.000000,5130.000000,53.000000,28.000000,25.000000,505.000000
75%,2007.000000,4046.000000,5311.00000,5283.000000,10551.000000,5302.000000,5249.000000,229.000000,111.000000,118.000000,852.000000
max,2020.000000,4418.000000,5519.00000,5451.000000,10935.000000,5500.000000,5435.000000,284.000000,137.000000,147.000000,1568.000000

In [31]:
train_x_scale = (train_x - min_n) / (max_n - min_n)

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
scaler = MinMaxScaler()

In [37]:

train_x = scaler.fit_transform(train_x)
test_x = scaler.fit_transform(test_x)

In [39]:
pd.DataFrame(train_x).describe()

,0,1,2,3,4,5,6,7,8,9,10
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,0.426286,0.569231,0.725858,0.779585,0.722337,0.699104,0.747363,0.350691,0.352727,0.348811,0.338600
std,0.299082,0.281883,0.204641,0.192343,0.202939,0.216837,0.193184,0.371349,0.364668,0.377640,0.282124
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.200000,0.502404,0.622041,0.758373,0.630031,0.626866,0.693730,0.094545,0.106061,0.083916,0.164333
50%,0.371429,0.554327,0.746302,0.779904,0.740325,0.732090,0.754823,0.160000,0.174242,0.146853,0.216654
75%,0.628571,0.821154,0.846154,0.866029,0.851393,0.852239,0.850482,0.800000,0.803030,0.797203,0.472366
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## 5. 모델링

* 모델 선언

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [41]:
model = LinearRegression()

* 모델 학습

In [42]:
model.fit( train_x , train_y )

LinearRegression()

* 학습한 모델 기반으로 예측값 생성

In [43]:
test_pred = model.predict(test_x)
test_pred
test_pred.shape

(11,)

## 6. 평가

In [44]:
mean_squared_error( test_y, test_pred, squared=False )

678.1556667803486